$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'

@font-face 
   font-family: "poppins"
   src: url('../../public/fonts/Poppins-Regular.ttf')

body 
   font-family: "poppins"

body
    transition-duration: 1s !important
nav
    transition-duration: 1s !important
#toggler
    transition-duration: 1s !important
    position: relative
    z-index: 10000 !important

#section-un
    background-color: #F3F3F3

nav
    position: relative
    #bouttons
        position: absolute
        top: 0
        right: 0
   

@media (max-width: 576px)
    #section-un
        p
            font-size: 10px
        h2
            font-size: 40px
        #titre-section-un
            font-size: 30px
        a
            font-size: 12px
    #section-sept
        div
            border: none !important
    #titre-principal
        display: none
    #titre-secondaire
        display: none
    #navbar-englobe
        position: fixed
        z-index: 3
    #navbar
        top: 79px

#titre-section-un
    font-size: 85px

#section-deux
    img
        border: none
    a
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        color: white
        font-weight: bold
        font-size: 20px
        text-decoration: none
        border-bottom: 2px solid

#section-trois
    img
        border: none
        overflow: hidden
        width: 100%
        display: block
        margin: auto
        transition-duration: .4s
    div 
        text-align: center
    a
        color: black
        font-weight: bold
        font-size: 15px
        text-decoration: none
    p
        font-weight: bold
    .wrapper
        position: relative
        overflow: hidden
        .row
            position: absolute
            bottom: -40%
            transition-duration: .4s
            opacity: 0.9
        &:hover
            .row
                bottom: 0%
        img:hover
            transform: scale(1.2)


#section-quatre
    position: relative
    background-image: url('../../public/images/cta-bg.jpg')
    height: 500px
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    #parallax-content
        color: white
        text-align: center
        padding-top: 200px
            

#section-six
    p
        margin-right: 40px
        margin-left: 40px
        font-size: 15px
    i
        font-size: 30px

#section-sept
    background-color: #212121
    h3
        font-size: 13px
    a
        text-decoration: none
    button
        display: inline-block
        margin-top: 10px
    li
        color: #6c757d
        a
            color: #6c757d

footer
    background-color: #0a0a0a
    height: 80px
    position: relative
    p
        position: absolute 
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)


.bg-blanc
    background-color: #f3f3f3

.bg-rouge
    background-color: #bd584e
.bg-noir
    background-color: #212121 !important
    transition-duration: 1s !important

.text-blanc
    color: #E5E5E5 !important
    transition-duration: 1s !important

.taille 
    height: 400px

.old-price
    color: #949494
    text-decoration: line-through
    display: inline-block

.new-price
    color: #bd584e
    display: inline-block

.sale
    display: inline-block
    vertical-align: middle
    background-color: #bd584e
    border-radius: 50%
    padding: 13px 5px
    top: 10%

.around
    span
        margin: 0 5px
    
.sticky 
  position: fixed
  top: 0
  width: 100%
  z-index: 3

#modal-connexion
    position: fixed
    z-index: 4

.hidden
    overflow: hidden

#fenetre
    position: fixed
    width: 100%
    height: 100vh
    z-index: 5

.rond
    border-radius: 20px

@keyframes pop
    0%
        transform: scale(0)
    100%
        transform: scale(1)

#fond-noir
    background-color: rgba(0,0,0,0.5)
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    z-index: 4

#navbar
    position: relative
    z-index: 3

#burger
    position: fixed !important
    width: 100%
    z-index: 4
    transition-duration: 1s !important
    @media (min-width: 576px)
        display: none
