$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'

#section-un
    background-color: #F3F3F3

nav
    position: relative
    form
        position: absolute
        top: 0
        right: 0



@media (max-width: 576px)
    #section-un
        p
            font-size: 10px
        h2
            font-size: 40px
    nav
        a
            font-size: 12px
    #section-sept
        div
            border: none !important

#section-deux
    img
        border: none
    a
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        color: white
        font-weight: bold
        font-size: 20px
        text-decoration: none
        border-bottom: 2px solid

#section-trois
    img
        border: none
    div 
        text-align: center
    a
        color: black
        font-weight: bold
        font-size: 15px
        text-decoration: none
    p
        font-weight: bold

#section-quatre
    position: relative
    background-image: url('../../public/images/cta-bg.jpg')
    height: 500px
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    #parallax-content
        color: white
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

#section-six
    p
        margin-right: 40px
        margin-left: 40px
        font-size: 15px
    i
        font-size: 30px

#section-sept
    background-color: #212121
    h3
        font-size: 13px
    a
        text-decoration: none
    button
        display: inline-block
        margin-top: 10px
    li
        color: #6c757d
        a
            color: #6c757d

footer
    background-color: #0a0a0a
    height: 80px
    position: relative
    p
        position: absolute 
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)


.bg-blanc
    background-color: #f3f3f3

.bg-rouge
    background-color: #bd584e
.bg-noir
    background-color: #212121 !important
    transition-duration: 1s !important

.text-blanc
    color: #E5E5E5 !important
    transition-duration: 2s !important

.taille 
    height: 400px

.old-price
    color: #949494
    text-decoration: line-through

.new-price
    color: #bd584e
    
body
    transition-duration: 1s !important